rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /board_state/{doc} {
      allow read, write: if true;
    }
    match /order_history/{doc} {
      allow read, create: if true;
      allow update, delete: if false;
    }
  }
}
